.app-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.seq-container {
    bottom: 0;
    left: 350px;
    position: absolute;
    top: $toolbarHeight;
    right: 0;
}
.synth-container {
    width: 350px;
}
.synth,
.chart-container {
    padding: 10px;
}