.app-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.seq-container {
    bottom: 0;
    position: absolute;
    top: $toolbarHeight;
    right: 0;
    width: 70%;
}
.synth-container {
    width: 30%;
    float: left;
}
.synth {
    width: 100%;
    float: left;
    padding: 10px;
}