
.seq {
    display: flex;
    height: 33.3333%;
    width: 100%;
    
    &:first-child .step {
        border-top-width: 1px;
    }
}
.step {
    @include user-select(none);

    background-color: $colorLight;
    border: solid $colorGrey30;
    border-width: 0 1px 1px 0;
    cursor: pointer;
    flex-grow: 1;
    height: 100%;

    &:first-child {
        border-left-width: 1px;
    }
    &.on {
        border-bottom: 15px orange solid;
    }

    &.over {
        background-color: $colorGrey10;
    }
    
    .frequency {
        position: relative;
        
        label {
            color: rgba($colorDark, .25);
            font-size: 1rem;
            font-weight: bold;
            left: 5px;
            opacity: 0;
            margin-top: 15px;
            position: absolute;
            top: 2rem;
            text-transform: uppercase;
        }
        input {
            background: none;
            border: 0;
            font-size: 2rem;
            padding: 5px;
            width: 100%;
        }
    }
    
    &:hover {
        .frequency label {
            opacity: 1;
        }
        .frequency input {
            border-bottom: 1px solid $colorGrey30;
        }
    }
}