
.seq {
    display: flex;
    height: 33.3333%;
    width: 100%;
    
    &:first-child .step {
        border-top-width: 1px;
    }
}
.step {
    @include user-select(none);

    background-color: $colorLight;
    border: solid $colorGrey30;
    border-width: 0 1px 1px 0;
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
    padding: 5px;
    &:first-child {
        border-left-width: 1px;
    }
    &.on {
        border-bottom: 15px orange solid;
    }

    &.over { background-color: $colorGrey10; }
    &:nth-child(2).over { background-color: $colorGrey20; }
    &:nth-child(3).over { background-color: $colorGrey30; }
    &:nth-child(4).over { background-color: $colorGrey40; }
    &:nth-child(5).over { background-color: $colorGrey50; }
    &:nth-child(6).over { background-color: $colorGrey40; }
    &:nth-child(7).over { background-color: $colorGrey30; }
    &:nth-child(8).over { background-color: $colorGrey20; }
    &:nth-child(9).over { background-color: $colorGrey10; }
    &:nth-child(5).over,
    &:nth-child(6).over,
    &:nth-child(7).over,
    &:nth-child(8).over,
    &:nth-child(9).over { color: $colorLight; }
}